<!-- <div class="container">
  <h1>Angular 2 + Google Maps Places Autocomplete</h1>
  <div>
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div> -->

<!-- <input [hidden]="!isLoggedIn()" class="albergueInfo" type="text" autocorrect="off" autocapitalized="off" spellcheck="off"
  placeholder="" #address [value]="addressValue" (input)="addressValue=$event.target.value" /> -->

<div class="form-group">
  <input size="100" type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off"
    class="form-control" #search>
</div>

<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
  <agm-marker [latitude]="AddressModel.latitude" [longitude]="AddressModel.longitude"> </agm-marker>
  <agm-circle [latitude]="AddressModel.latitude" [longitude]="AddressModel.longitude" [radius]="searchRadius"
    [fillColor]="'blue'" [circleDraggable]="false" [editable]="false">
  </agm-circle>

</agm-map>